@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-calendar {
  border: 3px solid #ffffff !important;
  border-radius: 30px !important;
  background-color: #ffffffab !important;
  padding: 10px !important;
}
.react-calendar__tile {
  border-radius: 20px !important;
}
.react-calendar__tile--active,
.react-calendar__tile--hasActive {
  background: #c01720 !important;
  color: white !important;
}
